<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  throwConfigExceptions="true">


	<targets async="true">

		<target xsi:type="AutoFlushWrapper" name="AutoFlushWrapper" condition="level >= LogLevel.Warn">
			<!-- AchieveAbove 20MB-->
			<!-- fileName="%TMP%/PokkUpdater/logs/.txt" 
			fileName="${gdc:logDirectory:whenEmpty=${baseDir}}/App.${level}.log"-->
			<target name="logSeperateFile" xsi:type="File"
					layout="${longdate} ${logger} ${message}${exception:format=ToString}"
					fileName="${gdc:logDirectory:whenEmpty=${baseDir}}/App.${level}.log" />
			<target name="logfile"
					xsi:type="File"
					
					fileName="${baseDir}/App.${shortdate}.log"
					archiveAboveSize="20971520"
					maxArchiveFiles="50"
					keepFileOpen="true"
					openFileCacheTimeout="30"
					layout="${longdate}|${level:uppercase=true}|${logger}|${message}${exception:format=ToString}"
			/>
			<target xsi:type="ColoredConsole"
					name="logColouredConsole"
					encoding="Encoding.Default"
					layout="${longdate}|${level:uppercase=true}|${logger}|${message}${exception:format=ToString}"
					useDefaultRowHighlightingRules="true"
					errorStream="false"
					enableAnsiOutput="true"
					detectConsoleAvailable="true"
					autoFlush="true">

			</target>
		</target>
	</targets>
	<variable name="minLevelSepFile" value="Trace" />
	<variable name="minLevelConsole" value="Info" />
	<variable name="minLevelFile" value="Debug" />
	<variable name="IsDebugEnv" value="true" />
	<rules>
		<logger name="*" enabled="${var:IsDebugEnv}" minlevel="${var:minLevelSepFile}" writeTo="logSeperateFile" />
		<logger name="*" enabled="true" minlevel="${var:minLevelConsole}" writeTo="logColouredConsole" />
		<logger name="*" enabled="true" minlevel="${var:minLevelFile}" writeTo="logfile" />
	</rules>
</nlog>